#PERFILES

# APP_SRC_DIRECTORY: esta variable debe apuntar al directorio del código fuente del proyecto de la api
APP_SRC_DIR=/home/angel/Documentos/UIX/perfiles-api/api/
# PGSQL_DB_HOST_PORT: esta variable debe apuntar al puerto del host por el cual se puede conectar a la base de datos postgresq del contenedor
PGSQL_DB_HOST_PORT=5434
# API_HOST_PORT: esta variable debe apuntar al puerto del host por el cual se pueden a la api de lumen del contenedor
API_HOST_PORT=9999
# API_DOCKER_PORT: esta variable debe apuntar al puerto del docker por el cual escuchara la api
API_DOCKER_PORT=9999
# CEM_LUMEN_API_DOCKERFILE_PATH: esta variable debe apuntar al path del archivo Dockerfile de la api rest de lumen
PERFILES_LUMEN_API_DOCKERFILE_PATH=/home/angel/Documentos/UIX/perfiles-api/docker/api.Dockerfile
# CEM_PGSQL_DB_DOCKERFILE_PATH: esta variable debe apuntar al path del archivo Dockerfile de la db de postgres
PERFILES_PGSQL_DB_DOCKERFILE_PATH=/home/angel/Documentos/UIX/perfiles-api/docker/db.Dockerfile
# PGSQL_DB_HOST_DATA_DIR: esta variable debe apuntar al path del host donde se persistiran los datos de la db del contenedor
PERFILES_DB_HOST_DATA_DIR=/home/angel/Documentos/UIX/DB/data/

